#user-rollover.role-admin .thumb {
    color: #4095BF !important; 
}

#user-rollover.is-admin .thumb {
    color: #4095BF !important; 
}

#waitlist .is-admin .thumb {
    color: #4095BF !important; 
}
