#user-rollover.role-admin .thumb {
    border-color: hsl(200, 50%, 50%) !important;
    box-shadow: 0 0 7px hsl(200, 50%, 50%) !important;
}

#user-rollover.is-admin .thumb {
    border-color: hsl(200, 50%, 50%) !important;
    box-shadow: 0 0 7px hsl(200, 50%, 50%) !important;
}

#waitlist .is-admin .thumb {
    border-color: hsl(200, 50%, 50%) !important;
    box-shadow: 0 0 7px hsl(200, 50%, 50%) !important;
}

#user-rollover.is-admin .meta.online .thumb {
    border-color: hsl(200, 50%, 50%) !important;
    box-shadow: 0 0 7px hsl(200, 50%, 50%) !important;
}

#waitlist .is-admin .thumb {
    border-color: hsl(200, 50%, 50%) !important;
    box-shadow: 0 0 7px hsl(200, 50%, 50%) !important;
}

#user-rollover.is-admin .meta.online .thumb.large {
    box-shadow: 0 0 15px hsl(200, 50%, 50%) !important;
}
