#user-rollover.role-admin .thumb {
    border-color:: #4095BF !important; 
}

#user-rollover.is-admin .thumb {
    border-color:: #4095BF !important; 
}

#waitlist .is-admin .thumb {
    border-color:: #4095BF !important; 
}
