#chat .msg .text .name.ambassador {
    color: #40BF40 !important; 
}

#chat .msg .text .name.ambassador .name {
    color: #40BF40 !important; 
}

.role-ambassador .from .un {
    color: #40BF40 !important; 
}

#user-lists .list.room .user.role-ambassador .name {
    color: #40BF40 !important; 
}

#waitlist .list .user.role-ambassador .name + span {
    color: #40BF40 !important; 
}

#footer-user .info .name .icon-chat-ambassador + span {
    color: #40BF40 !important; 
}

#chat .msg .text .name.ambassador {
    color: #40BF40 !important; 
}

#chat .msg .text .name.ambassador .name {
    color: #40BF40 !important; 
}

#user-rollover.role-ambassador .username {
    color: #40BF40 !important; 
}

#user-rollover.role-ambassador .role span {
    color: #40BF40 !important; 
}

#user-rollover.is-ambassador .info .role span {
    color: #40BF40 !important; 
}

#chat .from.ambassador .un {
    color: #40BF40 !important; 
}

.user-content.profile .meta.is-ambassador .role span {
    color: #40BF40 !important; 
}
