#grab {
    width: 50px!important;
    height: 50px!important;
    transition: ease-in-out 0.2s!important;
    background-color: transparent!important;
    border-style: solid;
    border-color: #8A40BF;
    border-width: 1px;
    background-image: url("https://AiYiAi.github.io/EDM/Icons/Grab.png")!important;
    background-size: 100%!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    margin-left: 2px!important;
    margin-right: 2px!important;
}

#grab.selected {
    background-color: rgba(138, 64, 191, 0.5)!important;
    transition: ease-in-out 0.2s!important;
}

#grab:hover {
    background-color: rgba(138, 64, 191, 0.5)!important;
    transition: ease-in-out 0.2s!important;
}

#grab .bottom {
    background-color: transparent !important;
}

#grab .top {
    display: none!important;
}

#grab .bottom {
    text-shadow: 1px 1px black;
    animation: otherway .5s;
    animation-fill-mode: forwards;
}

#grab:hover .bottom {
    display: block;
    animation: voteslide 0.5s;
    animation-fill-mode: forwards;
}

#grab-rs {
    top: -1px;
    border-radius: 10px 10px 0 0;
    background: hsla(275, 50%, 50%, 0.4);
    box-shadow: 0 0 10px #000;
    z-index: 0;
}

#grab-rs .title {
    border-radius: 10px 10px 0 0;
}
