#grab {
    width: 60px!important;
    height: 60px!important;
    transition: ease-in-out 0.2s!important;
    background-color: transparent!important;
    border-style: solid;
    border-color: #8A40BF;
    border-radius: 200px;
    border-width: 2px;
    background-image: url("https://AiYiAi.github.io/EDM/Icons/Grab.png")!important;
    background-size: 70%!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    margin-left: 2px!important;
    margin-right: 2px!important;
}

#grab.selected {
    background-color: rgba(138, 64, 191, 0.2)!important;
    transition: ease-in-out 0.2s!important;
}

#grab:hover {
    background-color: rgba(138, 64, 191, 0.2)!important;
    transition: ease-in-out 0.2s!important;
}

#grab .bottom {
    background-color: transparent !important;
}

#grab .top {
    display: none!important;
}

#grab .bottom {
    text-shadow: 1px 1px black;
    animation: otherway .5s;
    animation-fill-mode: forwards;
}

#grab.crowd-response .bottom .value {
    font-size: 14px!important;
    padding-top: 4px;
    display: block;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 100px;
    width: 27px;
    height: 22px;
    margin-left: 22px;
    margin-top: -25px;
    background-color: #8A40BF;
}

#grab:hover .bottom {
    display: block;
    animation: voteslide 0.5s;
    animation-fill-mode: forwards;
}
