#grab .icon {
    height: 80px !important;
    width: 80px !important;
    margin: 0 !important;
    top: 0 !important;
}

#grab.crowd-response .icon{
    background: url("https://AiYiAi.github.io/EDM/Icons/Grab.png");
}

#grab.crowd-response.disabled .icon {
    background: url("https://AiYiAi.github.io/EDM/Icons/WhiteGrab.png");
}

#grab.crowd-response.selected .icon {
    background: url("https://AiYiAi.github.io/EDM/Icons/WhiteGrab.png");
}

#grab {
    height: 80px !important;
    width: 80px !important;
    border-radius: 50%;
    border: 2px solid;
    bottom: 10px !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

#grab:hover {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

#grab:not(.selected) {
    border: 2px solid #8A40BF;
}

#grab.selected {
    background: #8A40BF !important;
}

#grab.crowd-response:not(.selected) .icon:after {
    content: url("https://AiYiAi.github.io/EDM/Icons/Grab.png");
    position: absolute;
    right: 0px;
    padding: 1px -1px;
}

#grab.crowd-response.disabled .icon:after {
    content: url("https://AiYiAi.github.io/EDM/Icons/WhiteGrab.png");
    position: absolute;
    right: 0px;
    padding: 1px -1px;
}

#grab:hover .icon:after {
    -webkit-animation-name: grab;
    animation-name: grab;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

#grab .icon:after {
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes grab {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5) translateZ(0);
    transform: scale(1.5) translateZ(0);
  }
}

#grab.selected .icon {
    animation: pulse 1s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

#grab {
    -webkit-transition:     all 0.3s ease;
    -moz-transition:        all 0.3s ease;
    -o-transition:          all 0.3s ease;
    transition:             all 0.3s ease;
}

#grab .top {
    -webkit-transition:     all 0.3s ease;
    -moz-transition:        all 0.3s ease;
    -o-transition:          all 0.3s ease;
    transition:             all 0.3s ease;
}

#grab-rs .title {
    background-color: #8A40BF;
}
