#user-rollover .meta.online .status span {
    color: hsl(120, 100%, 50%);
}

#user-rollover .meta.online .status i {
    border: 2px solid #00FF00;
}

.thumb {
    border-color: hsl(80, 100%, 50%) !important;
    box-shadow: 0 0 7px hsl(80, 100%, 50%) !important;
}
