/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

#chat .mention.role-sitemod {
    background: linear-gradient(hsla(0,70%,35%,.8), hsla(0,70%,25%,.8)),
    linear-gradient(to right, hsla(0,0%,0%,0), hsla(0,0%,100%,.2)) !important;
    box-shadow: inset 0 0 0 1px hsl(0,50%,50%) !important;
}

#chat .mention.role-sitemod .name{
    color: #E74C3C !important;
}

#chat .mention.role-sitemod .timestamp {
    color: #E74C3C !important;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
