/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

#user-lists .group {
    border: none !important;
    box-shadow: 0 0 1px 1px;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */


#user-lists .group.host ~ .user span {
    color: #2070DF !important; 
}

#dialog-user-role .role-menu .menu ul .host span {
    color: #2070DF !important; 
}

.icon-chat-host + span {
    color: #2070DF !important; 
}

#user-lists .group.host {
    color: #2070DF;
    background: linear-gradient(to right, hsla(215, 75%, 50%, .5), hsla(215, 75%, 40%, .5)) !important;
    top: 1px;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

.icon-chat-cohost + span {
    color: #2070DF !important; 
}

#dialog-user-role .dialog-body .role-menu .menu ul .cohost span {
    color: #2070DF !important; 
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

.icon-chat-manager + span {
    color: #20B9DF !important; 
}

#user-lists .group.manager ~ .user span {
    color: #20B9DF !important; 
}

#dialog-user-role .role-menu .menu ul .manager span {
    color: #20B9DF !important; 
}

#user-lists .group.manager {
    color: #20B9DF;
    background: linear-gradient(to right, hsla(192, 75%, 50%, .5), hsla(192, 75%, 40%, .5)) !important;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

.icon-chat-bouncer + span {
    color: #20D2DF !important; 
}

#user-lists .group.bouncer ~ .user span {
    color: #20D2DF !important; 
}

#dialog-user-role .role-menu .menu ul .bouncer span {
    color: #20D2DF !important; 
}

#user-lists .group.bouncer {
    color: #20D2DF;
    background: linear-gradient(to right, hsla(184, 75%, 50%, .5), hsla(184, 75%, 40%, .5)) !important;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

.icon-chat-dj + span {
    color: #20DFC9 !important; 
}

#user-lists .group.dj ~ .user span {
    color: #20DFC9 !important; 
}

#dialog-user-role .role-menu .menu ul .dj span {
    color: #20DFC9 !important; 
}

#user-lists .group.dj {
    color: #20DFC9;
    background: linear-gradient(to right, hsla(173, 75%, 50%, .5), hsla(173, 75%, 40%, .5)) !important;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
