/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

#chat .mention.role-host {
    background: linear-gradient(hsla(215, 75%, 30%, 0.8), hsla(215, 75%, 20%, 0.8)),
    linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
    box-shadow: inset 0 0 0 1px hsl(215, 50%, 50%) !important;
}

#chat .mention.role-host .name {
    color: hsl(215, 100%, 50%) !important;
}

#chat .mention.role-host .timestamp {
    color: hsl(215, 100%, 50%) !important;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

#chat .mention.role-cohost {
    background: linear-gradient(hsla(215, 75%, 30%, 0.8), hsla(215, 75%, 20%, 0.8)),
    linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
    box-shadow: inset 0 0 0 1px hsl(215, 50%, 50%) !important;
}


#chat .mention.role-cohost .name{
    color: hsl(215, 100%, 50%) !important;
}

#chat .mention.role-cohost .timestamp {
    color: hsl(215, 100%, 50%) !important;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

#chat .mention.role-manager {
    background: linear-gradient(hsla(192, 75%, 30%, 0.8), hsla(192, 75%, 20%, 0.8)),
    linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
    box-shadow: inset 0 0 0 1px hsl(192, 50%, 50%) !important;
}

#chat .mention.role-manager .name {
    color: #20B9DF !important;
}

#chat .mention.role-manager .timestamp {
    color: #20B9DF !important;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

#chat .mention.role-bouncer {
    background: linear-gradient(hsla(184, 75%, 30%, 0.8), hsla(184, 75%, 20%, 0.8)),
    linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
    box-shadow: inset 0 0 0 1px hsl(184, 50%, 50%) !important;
}

#chat .mention.role-bouncer .name {
    color: #20D2DF !important;
}

#chat .mention.role-bouncer .timestamp {
    color: #20D2DF !important;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

#chat .mention.role-dj {
    background: linear-gradient(hsla(173, 75%, 30%, 0.8), hsla(173, 100%, 20%, 0.8)),
    linear-gradient(to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, 0.2)) !important;
    box-shadow: inset 0 0 0 1px hsl(173,50%,50%) !important;
}

#chat .mention.role-dj .name {
    color: hsl(173, 75%, 60%) !important;
}

#chat .mention.role-dj .timestamp {
    color: hsl(173, 75%, 60%) !important;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
