/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

/* EN */

/* All Rights Reserved */
/* Any copy of this content will be handled with ambassadors */

/* CZ */

/* Všechna práva vyhrazena */
/* Jakékoliv kopírování tohoto css se bude řešit s Ambassadorem */

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

@import url("https://AiYiAi.github.io/EDM/Icons/Icons.css");
@import url("https://AiYiAi.github.io/EDM/Style/DJbutton.css");
@import url("https://AiYiAi.github.io/EDM/Style/Grab.css");
@import url("https://AiYiAi.github.io/EDM/Style/Meh.css");
@import url("https://AiYiAi.github.io/EDM/Style/OfflineThumbs.css");
@import url("https://AiYiAi.github.io/EDM/Style/OnlineThumbs.css");
@import url("https://AiYiAi.github.io/EDM/Style/Staff.css");
@import url("https://AiYiAi.github.io/EDM/Style/StaffThumbs.css");
@import url("https://AiYiAi.github.io/EDM/Style/Vote.css");
@import url("https://AiYiAi.github.io/EDM/Style/Woot.css");

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

#room-settings .general-settings .description .value {
    overflow-y: hidden !important;
}

#room-settings .general-settings .option button.off {
    border: 3px solid rgba(64, 191, 64, 0.7);
    background: transparent;
}

#room-settings .general-settings .option button {
    background: transparent;
    color: #FFFFFF;
    border-radius: 100%;
    margin-right: 10px;
    border: 3px solid #AD0000;
    width: 75px;
    height: 75px;
}

#room-settings .general-settings .option.enabled>button.on {
    border: 3px solid rgba(64, 191, 64, 0.7);
    background: transparent
}

#room-settings .general-settings .option.enabled>button.off {
    background: transparent;
    color: #C4BABA;
    border: 3px solid #AD0000;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

.dialog {
    background: rgba(0, 0, 0, 0.5);
}

#dialog-preview .dialog-frame .button.submit {
    color: #FFFFFF;
}

#dialog-preview .dialog-frame .button.submit {
    background: 0 !important;
}

#chat .message:nth-child(2n+1) {
    overflow: hidden;
}

#chat .mention:nth-child(2n+1) {
    overflow: hidden;
}

#chat .skip:nth-child(2n+1) {
    overflow: hidden;
}

#chat .moderation:nth-child(2n+1) {
    overflow: hidden;
}

#chat .emote:nth-child(2n+1) {
    overflow: hidden;
}

#chat .update:nth-child(2n+1) {
    overflow: hidden;
}

#chat .welcome:nth-child(2n+1) {
    overflow: hidden;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

#footer-user .info {
    background: rgba(0, 0, 0, 0.5);
}

#dashboard {
    background: rgba(0, 0, 0, 0.5) !important;
}

.tab-menu button {
    background: rgba(0, 0, 0, 0.5);
}

.tab-menu button.selected {
    background: linear-gradient(hsl(200, 61%, 54%), hsl(195, 59%, 31%)) !important;
}

.tab-menu button:hover {
    background: linear-gradient(hsla(200, 61%, 54%, 1), hsl(195, 59%, 31%));
}

#rcs-progress-container {
    background-color: #063C46 !important;
}

#rcs-progress-container .bar {
    background: linear-gradient(hsl(190, 65%, 56%), hsla(185, 62%, 30%, 0.9)) !important;
}

#user-menu .item.selected {
    background: linear-gradient(hsl(220, 61%, 54%), hsl(195, 59%, 31%));
}

#playlist-menu .menu .row .count {
    color: #3939D0;
}

#user-view {
    background: rgba(0, 14, 41, 0.8) !important;
}

#user-menu {
    background: rgba(0, 22, 66, 0) !important;
}

#rs-skip-button {
    background: rgba(0, 0, 0, 1) !important;
}

#history-button {
    background: rgba(0, 0, 0, 1) !important;
}

#vote .top {
    background: rgba(0, 0, 71, 0.4) !important;
}

.app-header {
    background: rgba(0, 0, 0, 1);
}

#room .app-right {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.70) 0, rgba(0, 0, 0, 1) 100%);    
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

.header-panel-button.selected {
    background-color: rgba(56, 204, 191, 0.5)!important;
}

#footer-user .buttons .button.store:hover {
    background: rgba(25, 145, 204, 0.5);
}

#footer-user .buttons .button.inventory:hover {
    box-shadow: none
}

#footer-user .buttons .button:hover {
    background: linear-gradient(to bottom, rgba(30, 64, 98, 0.2) 0, rgba(38, 67, 125, 0.5) 100%) !important;
}

#chat-input {
    border-radius: 10px;
    background: rgba(54, 136, 161, 0.5) !important;
}

#footer .bar-button .section .chevron:before {
    background: #4098C4;
}

#footer .bar-button .section .chevron:after {
    background: #4098C4;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
