/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

/* EN */

/* All Rights Reserved */
/* Any copy of this content will be handled with ambassadors */

/* CZ */

/* Všechna práva vyhrazena */
/* Jakékoliv kopírování tohoto css se bude řešit s Ambassadorem */

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

@import url("https://AiYiAi.github.io/EDM/Icons/Icons.css");
@import url("https://AiYiAi.github.io/EDM/Style/DJbutton.css");
@import url("https://AiYiAi.github.io/EDM/Style/Grab.css");
@import url("https://AiYiAi.github.io/EDM/Style/Meh.css");
@import url("https://AiYiAi.github.io/EDM/Style/OfflineThumbs.css");
@import url("https://AiYiAi.github.io/EDM/Style/OnlineThumbs.css");
@import url("https://AiYiAi.github.io/EDM/Style/Staff.css");
@import url("https://AiYiAi.github.io/EDM/Style/Vote.css");
@import url("https://AiYiAi.github.io/EDM/Style/Woot.css");

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

#room-settings .general-settings .description .value {
    overflow-y: hidden !important;
}

#room-settings .general-settings .option button.off {
    border: 3px solid rgba(64, 191, 64, 0.7);
    background: transparent;
}

#room-settings .general-settings .option button {
    background: transparent;
    color: #FFFFFF;
    border-radius: 100%;
    margin-right: 10px;
    border: 3px solid #AD0000;
    width: 75px;
    height: 75px;
}

#room-settings .general-settings .option.enabled>button.on {
    border: 3px solid rgba(64, 191, 64, 0.7);
    background: transparent
}

#room-settings .general-settings .option.enabled>button.off {
    background: transparent;
    color: #C4BABA;
    border: 3px solid #AD0000;
}

/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

.tab-menu button:hover {
    background: linear-gradient(hsla(200, 53%, 36%, 1), hsl(200, 59%, 31%));
}

#footer-user .buttons .button.store:hover {
    background: rgba(25, 85, 204, 0.2);
}

#footer-user .buttons .button.inventory:hover {
    box-shadow: none
}

#footer-user .buttons .button:hover {
    background: linear-gradient(to bottom, rgba(30, 75, 98, 0.2) 0, rgba(38, 53, 125, 0.5) 100%) !important;
}

#user-lists .list.bans .user:hover {
    background: linear-gradient(to right, rgba(117, 244, 255, 0) 0, rgba(0, 0, 255, 0.27) 100%) !important;
}

#user-lists .list.mutes .user:hover {
    background: linear-gradient(to right, rgba(117, 244, 255, 0) 0, rgba(0, 255, 255, 0.27) 100%) !important;
}

#user-lists .list.ignored .user:hover {
    background: linear-gradient(to right, rgba(117, 244, 255, 0) 0, rgba(0, 119, 255, 0.27) 100%) !important;
}

.rcs-small-delete:hover { 
    background: linear-gradient(hsl(0, 77%, 50%), hsl(0, 80%, 25%)) !important;
}

#room-settings a:hover {
    color: hsl(200, 100%, 55%) !important;
    text-shadow: 0 0 5px;
}

#chat a:hover {
    color: hsl(200, 100%, 55%) !important;
    text-shadow: 0 0 5px;
}

.communities .grid .cell:hover>.meta {
    margin-top: 43px;
    height: 257px;
    background: rgba(40, 40, 40, 0.7);
    transition: all .15s ease-out;
}

.communities .grid .cell:hover>.meta .join {
    bottom: -80px !important;
    transition: all .15s ease-out;
}

.communities .grid .cell .meta .join:hover {
    background: linear-gradient(hsl(175, 61%, 53%), hsla(190, 62%, 21%, 0.95));
}

#search-menu:hover {
    border-right: 1px solid 34, 76, 83;
}

#search-menu li:hover {
    background: rgba(36, 129, 148, 0.91);
}
