#vote.crowd-response.disabled.active {
    background-color: transparent !important;
}

#vote .crowd-response .value {
    margin-top: 17px;
    font-size: 11px!important;
}

.votes-rs {
    display: none!important;
}

@keyframes voteslide {
    0% {
        top: 20px;
        opacity: 0
    }
    25% {
        top: 10px;
    }
    75% {
        top: 5px
    }
    100% {
        top: 0px;
    }
}

@keyframes otherway {
    0% {
        top: 15px;
    }
    25% {
        top: 20px;
    }
    75% {
        top: 25px
    }
    100% {
        top: 30px;
        opacity: 0
    }
}

.votes-rs {
    display: none!important;
}

#vote .crowd-response .value {
    display: none!important;
}
