#woot {
    width: 75px!important;
    height: 75px!important;
    transition: ease-in-out 0.2s!important;
    background-color: transparent!important;
    border-style: solid;
    border-color: #40BF40;
    border-width: 1px;
    background-image: url("https://AiYiAi.github.io/EDM/Icons/Woot.png")!important;
    background-size: 100%!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    margin-left: 5px;
}

#woot.selected {
    background-color: rgba(64, 191, 64, 0.5)!important;
    transition: ease-in-out 0.2s!important;
}

#woot:hover {
    background-color: rgba(64, 191, 64, 0.5)!important;
    transition: ease-in-out 0.2s!important;
}

#woot.crowd-response.disabled.active .bottom {
    background-color: transparent !important;
}

#woot .bottom {
    background-color: transparent !important;
}

#woot .top {
    display: none!important;
}

#woot .crowd-response .value {
    margin-top: -90px
}

#woot .bottom {
    text-shadow: 1px 1px black;
    animation: otherway .5s;
    animation-fill-mode: forwards;
}

#woot:hover .bottom {
    display: block;
    animation: voteslide .5s;
    animation-fill-mode: forwards;
}

#woot-rs {
    top: -1px;
    border-radius: 10px 10px 0 0;
    background: hsla(120, 50%, 50%, 0.4);
    box-shadow: 0 0 10px #000;
    z-index: 0;
}

#woot-rs .title {
    background: linear-gradient(135deg, hsla(120, 50%, 50%, 0.4), hsla(120, 50%, 50%, 0.4)) !important;
    box-shadow: inset 0 0 10px hsl(120, 100%, 40%) !important;
}

#woot-rs .title {
    border-radius: 10px 10px 0 0;
}
